apiVersion: v1
kind: PersistentVolume
metadata:
  name: cozy-nfs
spec:
  capacity:
    storage: 10Gi
  storageClassName: standard
  accessModes:
  - ReadWriteMany
  nfs:
    server: ${serverIP} 
    path: ${pathToStorage} 
